<link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
<script src="/javascripts/modernizr.custom.js"></script>
<script src="/javascripts/index.js" type="text/javascript"></script>
<body>

<div class="container">
    <header class="clearfix">
        <a href="https://github.com/krshubham"><span>Kumar Shubham</span></a>
        <h1>
            Hello World.
        </h1>
    </header>
    <div class="main">
        <ul class="cbp_tmtimeline">
            {{#each posts}}
                <li>
                    <time class="cbp_tmtime"><span>{{date}}</span> <span>{{time}}</span></time>
                    <div class="cbp_tmicon cbp_tmicon-phone"></div>
                    <div class="cbp_tmlabel">
                        <h2>{{title}}</h2>
                        <p>{{data}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
