<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
<div class="jumbotron">
	
	<h1>Here is your place.</h1>
	<h3>This is the place where you blog.</h3>
</div>

<div class="container">
	<form role="form" class="form-horizontal" method="POST" action="/users/post">
		<input type="hidden" name="token" value="{{token}}" />
		<div class="form-group">
			<label class="control-label">Enter the title of the post</label><br />
			<input type="text" name="title">
		</div>
		<div class="form-group">
			<label class="control-label">Enter the post to be added:</label><br />
			<textarea class="form-horizontal" id="post" name="content"></textarea>
		</div>
		<div align="center">
			<button type="submit" class="btn btn-lg btn-success">Post</button>
		</div>
	</form>
</div>