a{
	text-decoration: none;
	outline-style: none;
	font-style: none;
}
a:hover{
	text-decoration-style: none;
	text-decoration: none;
	color: #fff;
}
.demo-card-wide.mdl-card {
	width: 70em;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 176px;
}

.demo-card-wide > .mdl-card__menu {
	color: #fff;
}

.mdl-card__title-text{
	font-size: 4em;
}

body{
	background: #fafafa;
	position: relative;
}